#back{
    line-height: 60px;
    position: absolute;
    left: 40px;
    text-decoration: none;
    color: rgb(180, 155, 193);
}
#back:hover{
    color: rgb(255, 255, 255);
}
#container{
    position: relative;
    margin: 0 20% 0 20%;
    background-color: aliceblue;
}
h1{
    margin-top: 60px;
}
header{
    background-color: rgb(106, 25, 186);

}
header,footer{
    width: 100%;
    height: 60px;
}
p{
    margin-bottom: 40px;
    color: dimgray;
}
a{
    text-decoration: none;
    color: rgb(106, 25, 186);
}
a:hover{
    color: rgb(22, 226, 233);
}
img{
    position: relative;
    left: 50%;
    margin: auto;
    transform: translate(-50%, 0);
}
#storyboard{
    height: 600px;
}
.projectBrief{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.projectBrief>h2{
    font-size: medium;
    text-align: right;
    padding-right: 40px;
}
.projectBrief>p{
    grid-column: 2 / 4;
}
