#container{
    position: relative;
    margin: 0 15% 0 15%;
    background-color: aliceblue;
}
section{
    margin: 40px;
}
p{
    color: dimgray;
}
.summary{
    margin-left: 40px;
}
#back{
    line-height: 60px;
    position: absolute;
    left: 40px;
    text-decoration: none;
    color: dimgray;
}
#back:hover{
    color: black;
}
header,footer{
    width: 100%;
    height: 60px;
}
header{
    background-color: rgb(189, 166, 212);

}
h1{
    margin-top: 60px;
}