#container{
    position: relative;
    margin: 0 20% 0 20%;
    background-color: aliceblue;
}
section{
    margin: 40px;
    padding-bottom: 20px;
}
p{
    color: dimgray;
}
.summary{
    margin-left: 40px;
}
a{
    text-decoration: none;
    color: rgb(106, 25, 186);
}
a:hover{
    color: rgb(22, 226, 233);
}
#back{
    line-height: 60px;
    position: absolute;
    left: 40px;
    text-decoration: none;
    color: rgb(180, 155, 193);
}
#back:hover{
    color: rgb(255, 255, 255);
}
header,footer{
    width: 100%;
    height: 60px;
}
header{
    background-color: rgb(106, 25, 186);

}
h1{
    margin-top: 60px;
}
img{
    position: relative;
    left: 50%;
    margin: auto;
    transform: translate(-50%, 0);
    height: 400px;
}